[flake8]
max-line-length = 100
exclude = 
    .git,
    __pycache__,
    venv,
    */migrations/*,
    manage.py
per-file-ignores =
    */settings.py:E501
ignore = 
    W503,  # line break before binary operator
    E203   # whitespace before ':' 
